<% content_for :titulo_pagina do %>administración > planes de dominios<% end %>
<% content_for :titulo_bloque do %><%=link_to 'administración' , administracion_path %> > planes de dominios<% end %>
<style>
  .grid-cabezal {
    display: flex;
  }
  .grid-cabezal > div {
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    margin: 2px;
    width: 100%;
  }
  .grid-cabezal > div.grid-celda-izq {
      border-top-left-radius: 10px;
  }
  .grid-cabezal > div.grid-celda-der {
      border-top-right-radius: 10px;
  }
  .grid-fila {
    display: flex;
  }
  .grid-celda {
    font-weight: bold;
    background-color: #eee;
    padding: 10px;
    margin: 2px;
    width: 100%;
  }
</style>
<% unless planes_dominios.empty? %>
  <div class="grid-cabezal">
    <div class="grid-celda-izq"style="min-width: 175px;">dominio</div>
    <div>país</div>
    <div>precio anual (Bs.)</div>
    <div class="grid-celda-der">...</div>
  </div>
  <div class="grid-cuerpo">
    <% planes_dominios.each do |plan_dominio| %>
      <div class="grid-fila">
        <div class="grid-celda">.<%= plan_dominio[:dominio] %></div>
        <div class="grid-celda"><%= plan_dominio[:pais] == 'int' ? 'Internacional' : AppConfig.preferencias.parametros_por_pais.select{|k| k['codigo'] == plan_dominio[:pais]}[0]['nombre'] %></div>
        <div class="grid-celda"><%= number_to_currency(AppConfig.preferencias.monedas.select{|k| k['codigo'] == 'vef' }[0]['conversion']*plan_dominio[:precio_anual], :unit => '', separator: ",", delimiter: "." ) %></div>
        <div class="grid-celda" style="text-align: center"><%= link_to 'editar', administracion_editar_plan_dominio_path(plan_dominio[:_id]) %></div>
      </div>
    <% end %>
  </div>
<% end %>