<% content_for :titulo_pagina do %>carrito de compras<% end %>
<% content_for :titulo_bloque do %>carrito de compras<% end %>

<% unless articulos.empty? %>
  <div id="cabezal-articulos">
   <div style="background-color: #fff; border-top-left-radius: 10px;float: left; width: 654px; text-align: center; font-weight: bold; padding: 5px; margin: 2px">articulo</div>
    <div style="background-color: #fff;float: left; width: 100px; text-align: center; font-weight: bold; padding: 5px; margin: 2px">duración</div>
    <div style="background-color: #fff;float: left; width: 100px; text-align: center; font-weight: bold; padding: 5px; margin: 2px">precio (Bs.)</div>
    <div style="background-color: #fff; border-top-right-radius: 10px; float: left; width: 70px; text-align: center; padding: 5px; margin: 2px">...</div>
  </div>
  <% total = 0 %>
  <div id="lista-articulos">
  <% articulos.each do |articulo| %>
    <% if articulo[:servicio] == 'hospedaje' %>
      <% descripcion = 'Hospedaje web: <b>'+articulo[:plan]+'</b><br/>Espacio de almacenamiento: <b>'+number_to_human_size(articulo[:espacio]*1048576)+'</b>' %>
    <% elsif articulo[:servicio] == 'dominio' %>
      <% descripcion = 'Dominio: <b>'+articulo[:nombre]+'.'+articulo[:dominio]+'</b>' %>
    <% end %>
    <% precio = number_to_currency(Moneda.where(:codigo => 'VEF',:borrado =>{'$exists' => false}).first[:conversion]*articulo[:precio], :unit => '', separator: ",", delimiter: "." ) %>
    <div class="articulo" style="display: inline-flex;">
      <div class="articulo-descripcion" style="background-color: #eee; width: 654px; padding: 5px; margin: 2px"><%= descripcion.html_safe %></div>
      <div style="background-color: #eee;float: left; width: 100px; text-align: center; font-weight: bold; padding: 5px; margin: 2px">
      <% if articulo[:servicio] == 'hospedaje' %>
        <select onchange="alterarDuracion('<%=articulo[:_id]%>',this)">
          <option value="1" <%= articulo[:duracion] == 1 ? 'selected' : '' %> >1 mes</option>
          <option value="3" <%= articulo[:duracion] == 3 ? 'selected' : '' %> >3 meses</option>
          <option value="6" <%= articulo[:duracion] == 6 ? 'selected' : '' %> >6 meses</option>
          <option value="12" <%= articulo[:duracion] == 12 ? 'selected' : '' %> >1 año</option>
        </select>
      <% else %>
          1 año
      <% end %></div>
      <div class="articulo-precio" style="background-color: #eee; width: 100px; text-align: right; padding: 12px 5px; margin: 2px"><%= precio %></div>
      <div class="articulo-remover" style="background-color: #eee; text-align: center; width: 70px; padding: 12px 5px; margin: 2px"><%= link_to 'remover', remover_articulo_carrito_path(articulo[:_id]) %></div>
    </div>
    <% total = total + articulo[:precio] %>
  <% end %>
  </div>
  <div id="precio-total">
    <div  style="background-color: #fff; float: left; width: 768px; text-align: right; font-weight: bold; padding: 5px; margin: 2px">total (Bs.):</div>
    <div style="background-color: #fff;float: left; width: 100px; text-align: right; font-weight: bold; padding: 5px; margin: 2px"><%= number_to_currency(Moneda.where(:codigo => 'VEF',:borrado =>{'$exists' => false}).first[:conversion]*total, :unit => '', separator: ",", delimiter: "." ) %></div>
    <div style="background-color: #fff; float: left; width: 70px; text-align: center; padding: 5px; margin: 2px">...</div>
  </div>
  <div id="saldo-disponible">
    <div  style="background-color: #fff; border-bottom-left-radius: 10px;float: left; width: 768px; text-align: right; font-weight: bold; padding: 5px; margin: 2px">saldo disponible (Bs.):</div>
    <% saldo = Saldo.where(:cuenta_id => current_cuenta._id).first %>
    <div style="background-color: #fff;float: left; width: 100px; text-align: right; font-weight: bold; padding: 5px; margin: 2px<%= saldo.activo < total ? '; color: #d00' : '' %> "><%= number_to_currency(Moneda.where(:codigo => 'VEF',:borrado =>{'$exists' => false}).first[:conversion]*saldo.activo, :unit => '', separator: ",", delimiter: "." ) %></div>
    <div style="background-color: #fff; border-bottom-right-radius: 10px; float: left; width: 70px; text-align: center; padding: 5px; margin: 2px">...</div>
  </div>
  <% if cuenta_signed_in? %>
    <% if saldo.activo < total %>
      <div style="text-align: center;font-weight:bold; padding: 10px">
       No posees saldo suficiente para pagar estos servicios, para recargar tu saldo haz clic <%= link_to 'aquí', '#' %>.
      </div>
    <% else %>
      <div style="text-align: center;font-weight:bold; padding: 10px">
        <%= form_tag(pagar_carrito_path, method: :get) do -%>
          <%= button_tag 'proceder a pagar', type: 'submit', confirm: '¿esta seguro que desea continuar?' %>
        <% end -%>
      </div>
    <% end %>
  <% else %>
    <div style="text-align: center;font-weight:bold; padding: 10px"><%= link_to 'para adquirir estos servicios debes tener una cuenta de usuario', iniciarsesion_redir_path('carrito') %></div>
  <% end %>
<% else %>
  <div style="text-align: center;font-weight:bold; padding: 10px">No se han agregado artículos</div>
<% end %>
<div style="margin: 0">
  Si deseas pagar mediante deposito o transferencia bancaria, puedes hacerlo a través de las siguientes cuentas:
  <% CuentaBancaria.where(:borrado => {'$exists' => false}).each do |cta| %>
    <div style="margin: 15px 0">
      <% if cta[:logo_src] %>
        <%= image_tag cta[:logo_src], :align => 'left', :style =>'height: 65px; padding: 0 10px 0 0;' %>
      <% end %>
      Banco: <b><%= cta.banco.nombre %></b><br/>
      Número de cuenta: <b><%= cta.nro %></b><br/>
      Tipo de cuenta: <b><%= cta.tipo.capitalize %></b><br/>
      Titular de la cuenta: <b><%= cta.titular %></b><br/>
    </div>
  <% end %>
</div>