<% content_for :titulo_pagina do %>carrito de compras > pagar<% end %>
<% content_for :titulo_bloque do %>carrito de compras > pagar<% end %>
<% unless articulos.empty? %>
  <div style="margin: 10px 0; text-align: right">Orden de compra Nº: <b><%= order_compra.nro %></b></div>
  <div class="grid-cabezal">
    <div class="grid-celda-izq">articulo</div>
    <div>duración</div>
    <div class="grid-celda-der">precio (Bs.)</div>
  </div>
  <div class="grid-cuerpo">
    <% total = 0 %>
    <% articulo.each do |articulo| %>
      <% if articulo[:servicio] == 'hospedaje' %>
        <% descripcion = 'Hospedaje web: <b>'+articulo[:plan]+'</b><br/>Espacio de almacenamiento: <b>'+number_to_human_size(articulo[:espacio]*1048576)+'</b>' %>
      <% elsif articulo[:servicio] == 'dominio' %>
        <% descripcion = 'Dominio: <b>'+articulo[:nombre]+'.'+articulo[:dominio]+'</b>' %>
      <% end %>
      <% if articulo[:servicio] == 'hospedaje' %>
        <% duracion = (articulo[:duracion] == 12 ? '1 año' : (articulo[:duracion] == 6 ? '6 meses' : (articulo[:duracion] == 3 ? '3 meses' : '1 mes'))) %>
      <% elsif articulo[:servicio] == 'dominio' %>
        <% duracion = '1 año' %>
      <% end %>
      <% precio = number_to_currency(Moneda.where(:codigo => 'VEF',:borrado =>{'$exists' => false}).first[:conversion]*articulo[:precio], :unit => '', separator: ",", delimiter: "." ) %>
      <div class="grid-fila">
        <div class="grid-celda"><%= descripcion.html_safe %></div>
        <div class="grid-celda"><%= duracion %></div>
        <div class="grid-celda"><%= precio %></div>
      </div>
      <% total = total + articulo[:precio] %>
    <% end %>
  </div>
  <div class="grid-pie">
    <div class="grid-celda-izq">total (Bs.):</div>
    <div class="grid-celda-der"><%= number_to_currency(Moneda.where(:codigo => 'VEF',:borrado =>{'$exists' => false}).first[:conversion]*total, :unit => '', separator: ",", delimiter: "." ) %></div>
  </div>
  
<% end %>