<% content_for :titulo_pagina do %>mi cuenta > dominios<% end %>
<% content_for :titulo_bloque do %><%=link_to 'mi cuenta' , mi_cuenta_path %> > dominios<% end %>

<div style="background-color: #e7e7e7;margin: 5px;padding: 10px;border-radius: 10px">
  <h2>cumanaws.vm</h2>
  <div style="text-align: right; font-weight: bold; margin: 10px 0"><%= link_to 'agregar host', '#' %></div>
  <div>
     <div class="grid-cabezal">
      <div class="grid-celda-izq">host</div>
      <div>registro</div>
      <div style="max-width: 100px;">prioridad</div>
      <div>dirección</div>
      <div class="grid-celda-der" style="max-width: 100px;">...</div>
    </div>
    <div class="grid-cuerpo">
      <div class="grid-fila">
        <div class="grid-celda">cumanaws.vm</div>
        <div class="grid-celda">A</div>
        <div class="grid-celda" style="max-width: 100px;"></div>
        <div class="grid-celda">127.0.0.1</div>
        <div class="grid-celda" style="max-width: 100px;text-align: center"><%= link_to 'editar', '#' %></div>
      </div>
    </div>
    <div class="grid-cuerpo">
      <div class="grid-fila">
        <div class="grid-celda">www.cumanaws.vm</div>
        <div class="grid-celda">CNAME</div>
        <div class="grid-celda" style="max-width: 100px;"></div>
        <div class="grid-celda">cumanaws.vm.</div>
        <div class="grid-celda" style="max-width: 100px;text-align: center"><%= link_to 'editar', '#' %></div>
      </div>
    </div>
    <div class="grid-cuerpo">
      <div class="grid-fila">
        <div class="grid-celda">cumanaws.vm</div>
        <div class="grid-celda">MX</div>
        <div class="grid-celda" style="max-width: 100px;">10</div>
        <div class="grid-celda">cumanaws.vm.</div>
        <div class="grid-celda" style="max-width: 100px;text-align: center"><%= link_to 'editar', '#' %></div>
      </div>
    </div>
  </div>
</div>
