<% content_for :titulo_pagina do %>administración > monedas > nueva<% end %>
<% content_for :titulo_bloque do %><%=link_to 'administración' , administracion_path %> > <%=link_to 'monedas' , administracion_monedas_path %> > nueva<% end %>
<script type="text/javascript">
  $(document).ready(function(){return formjs.constructor();});
</script>
<%= form_for resource, url:  administracion_nueva_moneda_path, remote: true, html: { id: resource_name,  method: :post, class: form_clase, 'data-type' => :json}  do |f|  %>
  <%= form_resumen_errores %>
  <%= form_campo f, :nombre, 'text_field', autocomplete: "off" %>
  <%= form_campo f, :codigo, 'text_field', autocomplete: "off", label: 'Código' %>
  <%= form_campo f, :simbolo, 'text_field', autocomplete: "off", label: 'Símbolo' %>
  <%= form_campo f, :conversion, 'text_field', autocomplete: "off", placeholder: '0000.0000', label: 'Conversión' %>
  <br/>
  <div style="text-align:center" id="campo_commit"><%= f.submit "nueva moneda", data: { disable_with: 'enviando...' } %></div>
<% end %>