<% content_for :titulo_pagina do %>administración > planes de hospedaje > editar<% end %>
<% content_for :titulo_bloque do %><%=link_to 'administración' , administracion_path %> > <%=link_to 'planes de hospedaje' , administracion_planes_hospedaje_path %> > editar<% end %>
<script type="text/javascript">
  $(document).ready(function(){return formjs.constructor();});
</script>
<%= form_for resource, url:  administracion_editar_plan_hospedaje_path(resource[:_id]), remote: true, html: { id: resource_name,  method: :put, class: form_clase, 'data-type' => :json}  do |f|  %>
  <%= form_resumen_errores %>
  <%= form_campo f, :nombre, 'text_field', autocomplete: "off" %>
  <%= form_campo f, :descripcion, 'text_area', autocomplete: "off" %>
  <%= form_campo f, :precio_mensual, 'text_field', autocomplete: "off", placeholder: '000', :label => 'Precio mensual (ptos)' %>
  <%= form_campo f, :precio_anual, 'text_field', autocomplete: "off", placeholder: '000', :label => 'Precio anual (ptos)' %>
  <%= form_campo f, :borrado, 'check_box', label => 'Eliminar' %>
  <br/>
  <div style="text-align:center" id="campo_cuenta_commit"><%= f.submit "editar plan de hospedaje", data: { disable_with: 'enviando...' } %></div>
<% end %>