<% content_for :titulo_pagina do %>administración > planes de hospedaje > nuevo<% end %>
<% content_for :titulo_bloque do %><%=link_to 'administración' , administracion_path %> > <%=link_to 'planes de hospedaje' , administracion_planes_hospedaje_path %> > nuevo<% end %>
<script type="text/javascript">
  $(document).ready(function(){return formjs.constructor();});
</script>
<%= form_for resource, url:  administracion_nuevo_plan_hospedaje_path, remote: true, html: { id: resource_name,  method: :post, class: form_clase, 'data-type' => :json}  do |f|  %>
  <%= form_resumen_errores %>
  <%= form_campo f, :nombre, 'text_field', autocomplete: "off" %>
  <%= form_campo f, :descripcion, 'text_area', autocomplete: "off" %>
  <%= form_campo f, :espacio, 'text_field', autocomplete: "off", placeholder: '000', :label => 'Espacio de almacenamiento (MB)' %>
  <%= form_campo f, :precio_mensual, 'text_field', autocomplete: "off", placeholder: '000', :label => 'Precio mensual' %>
  <%= form_campo f, :precio_anual, 'text_field', autocomplete: "off", placeholder: '000', :label => 'Precio anual' %>
  <%= form_campo f, :precio_mb_adicional, 'text_field', autocomplete: "off", placeholder: '000', :label => 'Precio por cada MB adicional' %>
  <br/>
  <div style="text-align:center" id="campo_cuenta_commit"><%= f.submit "nuevo plan de hospedaje", data: { disable_with: 'enviando...' } %></div>
<% end %>